@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black-color: #000;
    --white-color: #fff;
    --lite-black: #ffffff93;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 62.5%;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* --------Header Section--------- */
.header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: var(--black-color);
}

.logo {
    color: var(--white-color);
    margin-left: 3rem;
    font-size: 2rem;
}

.navbar {
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--lite-black);
    font-size: 1.2rem;
    margin-right: 2rem;
}

.navbar > li {
    cursor: pointer;
}

/* -----------Login UI of the website---------- */
.first-page {
    padding: 4rem;
    display: flex;
}

.main-logo {
    font-size: 5rem;
    padding-block-end: 1.8rem;
}

.tag-line {
    font-size: 1.8rem;
    padding-block-end: 1.8rem;
}

.login {
    font-size: 1rem;
    padding: 0.5rem 2.8rem;
    color: var(--white-color);
    background-color: var(--black-color);
    margin-right: 1rem;
    text-align: center;
}

.signup {
    font-size: 1rem;
    padding: 0.5rem 2.8rem;
    border: 2px solid var(--black-color);
    text-align: center;
}

.right-container {
    width: 50rem;
}

.home-img {
    width: 100%;
}

/* -------------Sign up page----------------- */
.signup-section,
.login-section,
.myProfile-section,
.editPassword-section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.signup-logo,
.login-logo {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.signup-form,
.login-form,
.myProfile-form,
.editPassword-form {
    display: flex;
    flex-direction: column;
}

.input-s {
    height: 3rem;
    margin-bottom: 1.8rem;
    padding-left: 1rem;
    border: 1.5px solid;
    font-size: 1.1rem;
}

.signup-btn,
.login-btn {
    width: 8rem;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    color: var(--white-color);
    background-color: var(--black-color);
    border: none;
}

/* --------------profile page---------------- */
.my-profile,
.edit-pasword {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.save-info,
.change-password,
.logout {
    width: 10.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    color: var(--white-color);
    background-color: var(--black-color);
    border: none;
    margin-bottom: 1rem;
}

/* -----------Shopping items section----------------- */
.main-section {
    /* display: flex; */
    position: relative;
    
}

/* items section  */
.items-section {
    position: absolute;
    margin-left: 15rem;
    padding: 3rem;
    width: 80%;
    top: 0;
    left: 0;

}

.search-section {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid;
    margin-bottom: 1rem;
}

.search-bar {
    border: none;
    padding-left: 1rem;
    font-size: 1.3rem;
    color: var(--black-color);
    width: 100%;
}

.search-bar:focus {
    outline: none !important;
}

.search-selector {
    display: flex;
    justify-content: space-between;
}

.item-selector {
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid;
    width: 10rem;
    padding-block: 0.8rem;
    text-align: center;
    font-weight: 500;
}

.active {
    background-color: var(--black-color);
    color: var(--white-color);
}

/* -------left side section----------- */
.left-side {
    position: sticky;
    left: 0;
    top: 0;
    width: 15rem;
    /* height: 100vh; */
    padding-bottom: 1rem;
    background-color: var(--black-color);
    border-top: 1px solid var(--lite-black);
    /* display: none; */
}
.color-container,
.sizes-container,
.rating-container,
.price-container {
    padding: 0.5rem 1.8rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--lite-black);
}

.side-color,
.side-sizes,
.side-rating,
.side-price {
    font-size: 1.1rem;
    color: var(--white-color);
    font-weight: 500;
    /* padding-bottom: 0.1rem; */
}

.colors,
.sizes,
.rating,
.price {
    color: var(--white-color);
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
}

.colors > input,
.sizes > input,
.price > input {
    margin-right: 0.9rem;
}

.colors input[type="checkbox"] {
    accent-color: var(--black-color);
}
.colors > label,
.sizes > label,
.price > label {
    font-size: .8rem;
}

.price-container {
    border-bottom: none;
    /* margin-bottom: 7rem; */
}

.filer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#filter {
    width: 10rem;
    padding: 0.8rem 1.6rem;
    border: 1px solid var(--lite-black);
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 1rem;
}

/* range  */
#range {
    /* -webkit-appearance: none; */
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--lite-black);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#range:hover {
    opacity: 1;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--white-color);
    cursor: pointer;
}

#range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--white-color);
    cursor: pointer;
}



/* display product  */
.display-product {
    /* border: 1px solid ; */
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding-block: 5rem;
    row-gap: 6rem;  
}

.item-container {
    border: 1px solid;
    width: 18rem;
    /* height: 28rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.2rem;
}

.inner-item-container {
    /* padding: 1rem; */
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item-img {
    width: 80%;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.price-size,
.items-colors,
.items-rating {
    display: flex;
    width: 100%;
    height: 1.5rem;
    justify-content: space-between;
    /* border: 1px solid; */
    align-items: center;
}
.item-price,
.item-size,
.items-colors,
.items-rating {
    font-size: 0.8rem;
    font-weight: 600;
}

.item-description {
    width: 100%;
    font-size: 0.7rem;
    height: 3.5rem;
    font-weight: 500;
    /* border: 1px solid; */
    overflow: scroll;
}

#add-to-cart {
    width: 100%;
    height: 2.5rem;
    border: none;
    color: var(--white-color);
    font-size: 1.2rem;
    background-color: var(--black-color);
    cursor: pointer;
}
